body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    height: 100%;
    width:80%;
}


@media screen and (min-width: 769px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }
    
    #headmaster,#proprietor,#assistant_headmaster{
        display: flex;
        justify-content: center;
        align-items: center;
        font: bold;
        font-style: unset;
        min-width: 40%;
        max-width: 80%;
        height: 100%;
        margin:5px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        text-decoration: underline;
}
#image_of_headmaster,#image_of_assistant_headmaster,#image_of_proprietor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    overflow: hidden;
    padding-top: 0px;
   }
   img{
    height: 80%;
    width: 100%;
    min-height: 80%;
    max-height: 100%;
    object-fit: cover;
   }
   h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
   }
}
@media screen and (max-width: 768px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    
    }
    #headmaster,#proprietor,#assistant_headmaster{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font: bold;
        font-style: unset;
        min-width: 30%;
        max-width: 80%;
        height: 100%;
        margin:5px;
        border: 1px solid blueviolet;
        border-radius: 10px;
        text-decoration: underline;
}
#image_of_headmaster,#image_of_assistant_headmaster,#image_of_proprietor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    overflow: hidden;
    padding-top: 0px;
   }
   img{
    height: 80%;
    width: 100%;
    min-height: 80%;
    max-height: 100%;
    object-fit: cover;
   }
   h2{
    font-size: 1.2rem;
    text-align: center;
    margin: 5px;
   }
}